@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* index / App */

.project-name {
  display: flex;
  margin-left: 0px;
}

.themeToggle {
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.theme-button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -60px;
  margin-right: 46px;
}

.theme-button {
  outline: none;
  border: none;
  padding: 12px;
  background: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.MoonIcon {
  stroke: #e8d8fe;
  stroke-width: 2px;
}

.SunIcon {
  fill: #7f5bd8;
  stroke-width: 2px;
}

svg {
  margin-left: 10px;
}

.home-page-div {
  margin-top: 80px;
  margin-left: 200px;
}

.home-page-div h1 {
  font-size: 96px;
  text-align: left;
  margin-left: 100px;
}

.home-page-div p {
  font-weight: 300;
  text-align: left;
  margin-left: 100px;
  margin-right: 280px;
  margin-bottom: 160px;
  margin-top: 0px;
}

.no-click {
  pointer-events: none;
}

.full-background {
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* colorsTab */

.first-background {
  margin-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 40px;
  z-index: 1;
}

.first-background h1 {
  font-size: 96px;
  margin-top: 80px;
  margin-left: 180px;
  text-align: left;
  margin-bottom: 40px;
}

.first-background p {
  padding-bottom: 100px;
  margin-left: 180px;
  margin-right: 180px;
}

.purple-palette {
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 10px;
}

.other-colors {
  margin-bottom: 80px;
  margin-top: 0;
}

.color-details {
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  margin-right: 180px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.brand-colors {
  margin-bottom: 60px;
}

.brand-details {
  margin-bottom: 80px;
}

.brand-details h6 {
  display: flex;
  margin-top: 18px;
  margin: 0;
}

.second-background {
  margin-right: 180px;
  margin-left: 180px;
  border-radius: 40px;
  margin-bottom: 100px;
  padding-top: 60px;
}

.second-background h5 {
  margin-top: 0;
  margin-bottom: 45px;
}

.neutral-palette {
  margin: 0;
}

.black-white {
  padding-top: 30px;
}

.menu-button {
  padding: 12px 24px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.status-palettes h6 {
  margin-bottom: 30px;
  margin-top: 70px;
}

.success-palette {
  margin-bottom: 45px;
}

.success-palette h5 {
  margin-top: 45px;
}

.error-palette {
  margin-bottom: 45px;
}

.warning-label {
  margin-top: 45px;
}

.warning-palette {
  padding-bottom: 100px;
}

div > button.border-class-dark {
  border: 2px solid #2d3748;
}

div > button.border-class-light {
  border: 2px solid #cbd5e0;
}

div > button.border-class-purple {
  border: 2px solid #b794f4;
}

div > button.border-class-purple-dark {
  border: 2px solid #6b46c1;
}

/* menuTab */

.project-name {
  display: flex;
  align-items: baseline;
  margin-left: 46px;
}

.nav-menu {
  display: flex;
  align-items: baseline;
}

.menu-tabs {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}

/* buttons-tab */

.all-buttons {
  display: grid;
  grid-template-columns: column;
}
.clickable-buttons {
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  justify-content: space-around;
}

.status-buttons {
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.static-buttons,
.button-labels {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
}

.buttons-visible {
  margin-bottom: 180px;
}

.button-labels {
  /* font-weight: 400; */
}

.buttons-subheading {
  margin-bottom: 40px;
  margin-top: 0;
  /* font-weight: 500; */
}

.hidden-status-buttons {
  margin-bottom: 60px;
}

.primary-buttons,
.secondary-buttons,
.tertiary-buttons,
.success-buttons,
.warning-buttons,
.error-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.secondary-success-static-buttons,
.secondary-warning-static-buttons,
.secondary-error-static-buttons {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
}

/* typography-tab */

.heading-font {
  margin-left: 180px;
  margin-right: 180px;
}

.subheading-font,
.body-font {
  margin-left: 60px;
  margin-right: 60px;
}

.heading-font h3 {
  margin-top: 140px;
}

.heading-font {
  margin-bottom: 40px;
}

.display-container,
.heading-container,
.subheading-container,
.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  align-content: end;
  vertical-align: bottom;
}

.heading-container-left {
  justify-content: start;
  text-align: left;
}

.display-container-left > h2,
.heading-container-left > h2,
.subheading-container-left > h2,
.body-container-left > h2 {
  font-size: 288px;
  margin: 0;
  vertical-align: bottom;
  align-content: end;
}

.heading-container-right,
.body-container-right {
  justify-content: end;
  text-align: left;
}

.display-container-right p,
.heading-container-right p {
  font-size: 36px;
  margin: 0;
}

.subheading-container-right p,
.body-container-right p {
  font-size: 32px;
  margin: 0;
}

.display-container-right > .alphabet,
.heading-container-right > .alphabet,
.subheading-container-right > .alphabet,
.body-container-right > .alphabet {
  padding-bottom: 40px;
}

.display-container-right > .symbols,
.heading-container-right > .symbols,
.subheading-container-right > .symbols,
.body-container-right > .symbols {
  padding-bottom: 60px;
}

.heading-container > .font-title {
  margin-bottom: 140px;
}

.subheading-container > .font-title,
.body-container > .font-title {
  margin-bottom: 80px;
}

.font-title {
  margin-top: -20px;
}

/* typescaleTab */

.first-background > .typescale-display {
  margin-left: 180px;
}

.second-background > .typescale-heading {
  margin-left: 80px;
}

.typescale-display > h1,
.typescale-heading > h1 {
  margin-left: 0;
}

.typescale-display > h1 {
  margin-top: 100px;
}

.typescale-heading > h1,
.typescale-heading > h3,
.typescale-heading > h4 {
  margin-top: 40px;
}

.typescale-heading > h5,
.typescale-heading > .heading-paragraph {
  margin-top: 40px;
}

.typescale-display > .underlined-heading {
  margin-left: 0;
  margin-right: 180px;
}

.typescale-heading > .underlined-heading {
  margin-left: 0;
  margin-right: 80px;
  margin-bottom: 80px;
}

.typescale-heading > p {
  padding: 10px 0 0 0;
  margin-left: 0;
}

.typescale-heading > .heading-copyright {
  padding-bottom: 40px;
}

.typescale-display > .font-label {
  margin-top: 140px;
}
